body {
    font-family: 'Work Sans', sans-serif;
}

/* nav bar */

header nav {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    margin-top: -30px;
    margin-bottom: -30px;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul>li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}

header nav>h3 {
    /* text-align: center; */
    font-size: 45px;
    font-weight: 700;
}

.first-li-icon {
    border: none #0B02231A;
    background-color: #0B02231A;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: -15px;
}


/* banner section */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner-text-only {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 120px 150px;
}

.banner h3 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
}

.banner h1 {
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    margin-top: -5px;

    /* এই নিচের পার্টটা বুঝি নাই।  */

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner p {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
}

.banner-btn{

}

.banner-img{
    max-width: 80%;
}