body {
    font-family: 'Work Sans', sans-serif;
    margin: auto 20px;
}

/* nav bar */

header nav {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    margin-top: -30px;
    margin-bottom: -30px;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul>li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}

header nav>h3 {
    /* text-align: center; */
    font-size: 45px;
    font-weight: 700;
}

.first-li-icon {
    border: none #0B02231A;
    background-color: #0B02231A;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: -15px;
}


/* banner section */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner-text-only {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 120px 150px;
}

.banner h3 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
}

.banner h1 {
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    margin-top: -5px;

    /* এই নিচের পার্টটা বুঝি নাই।  */

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner p {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
}

.banner-btn {
    justify-content: space-around;
}

.btn-primary {
    border-radius: 50px;
    border: none;
    background-color: #ff42a5;
    padding: 20px 40px;

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

#btn-pri-diff {
    background-color: #4ec5f7;
}



----------
/* body started */
----------
/* We are gamers section */

.wag {
    display: flex;
    margin: auto 50px;
    gap: 50px;
}

.wag-img {}

.wag-text-btn-p {}

.wag-h3 {
    /* text-align: right; */
    font-size: 48px;
    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wag-p1 {
    color: #534C64;
    /* text-align: right; */
    font-size: 18px;
    font-weight: 400;
    /* 166.667% */
}

.wag-btn {
    padding: 21px 40px;
    gap: 10px;

    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    border-radius: 50px;
    border: none;
    background-color: #FF42A5;
}

.wag-p2 {
    color: #534C64;
    /* text-align: right; */
    font-size: 24px;
    font-weight: 500;
}

.wag-p3 {
    color: #534C64;
    font-size: 20px;
    font-weight: 700;
}


/* Online games funny videos */
.ogfv {
    margin: 120px auto;
}


.ogfv-h3 {
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

    /* color design for this h3 in span */
}

.ogfv-p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.ogfv-cards {
    display: flex;
    gap: 10px;
}

/* Play Instantly, No Downloads No Installs. */
.pindni {
    display: flex;
    gap: 100px;
}

.pindni-h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.pindni-p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.pindni-img-2{
    position: relative;
    bottom: 300px;
    right: 150px;
}

/* Play Games Online Anywhere, Anytime! */

.pgoa {
    display: flex;
    gap: 100px;
}

.pgoa-h3 {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
}

.pgoa-p {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.pgoa-img-2{
    position: relative;
    bottom: 230px;
    left: 530px;
}

--------------/* career section */--------------
.career{

    display: flex;
    background-color: #F948B2;
    width: 100%;
    height: 800px;
}




/* -----responsive section for smaller device----- */
@media screen and (max-width:576px) {
    header nav {
        flex-direction: column;
        padding: 10px 10px;
        margin-top: -30px;
        margin-bottom: -30px;
        justify-content: space-between;
    }

    header ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .first-li-icon {
        border: none #0B02231A;
        background-color: #0B02231A;
        padding: 15px 25px;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }



    .banner {
        flex-direction: column-reverse;
    }

    .banner-text-only {
        padding: 1px;
    }

    .banner-img img {
        width: 100%;
    }


    .ogfv-cards {
        flex-direction: column;
        align-items: center;
    }



    .wag {
        align-items: center;
    }

    .wag-text-btn-p {
        text-align: center;
    }



    .pindni {
        flex-direction: column;
    }
    
    .pindni-h3 {
        text-align: center;
    }
    
    .pindni-p {
        text-align: center;
    }

    .pindni-imgs{
        width: auto;
    }




    .pgoa {
        flex-direction: column-reverse;
    }
    
    .pgoa-h3 {
        text-align: center;
    }
    
    .pgoa-p {
        text-align: center;
    }

    .pgoa-imgs{
        width: 40%;
    }
}





/* -----responsive section for medium device----- */
@media screen and (min-width:576px) and (max-width:960px) {}