body {
    font-family: 'Work Sans', sans-serif;
}

header nav {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header ul>li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}

header h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.first-li-icon{
    border: none #0B02231A;
    background-color: #0B02231A;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: -15px;
}
